target*
metastore_db*
project/target*
derby.log
target/scala-2.11/classes/covid/project2$.class
target/scala-2.11/classes/covid/SparkQueries$$typecreator5$1.class
target/scala-2.11/classes/covid/SparkQueries.class
